* {
	padding: 0;
	margin: 0;
	list-style: none;
}
.wrapper {
	width: 500px;
	height: 300px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
}
.wrapper ul {
	position: absolute;
	left: 0;
}
.wrapper ul li {
	float: left;
}
.wrapper ul li img {
	height: 300px;
	width: 500px;
}
.wrapper .navUl {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 25px;
}
.navUl li {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background-color: #ccc;
	float: left;
	margin: 0 5px;
}
.navUl .actived {
	background-color: red;
}
.wrapper .btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #333;
	opacity: 0.1;
	text-align: center;
	line-height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 10px;
	font-size: 20px;
	color: #000;
	border-radius: 5px;
	cursor: pointer;
}
.wrapper .btn:hover {
	opacity: 0.7;
	color: #000;
}
.wrapper .btnR {
	right: 0;
}